.settings
target
.classpath
.project

/build
bin/
buildSrc/build
/spring-*/build
/src/asciidoc/build
classes
target/
generated/

# IDEA artifacts and out dirs
*.iml
.idea
/velocity.log
